body {
    background-color: cadetblue
}


.caja1 {
    color: green;
    background-color: white;
    height: 250px;
    width: 250px;
    border: 2px solid black;
    padding: 20px;
}

.caja2 {
    color: black;
    background-color: white;
    font-weight: 250px;
    width: 250px
}

.caja3 {
    color: yellow;
    background-color: white;
    font-weight: 250px;
    width: 250px
}